body {
	background-image: url(../img/space.jpg);
	font-family: sans-serif;
}

.container {
	margin: auto;
	margin-top: 5%;
	width: 40%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 2px 2px 50px #D04429;
	border-radius: 25px;
	border: 1px solid #000;
}
.container2 {
	margin: auto;
	margin-top: 5%;
	width: 60%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 2px 2px 50px #D04429;
	border-radius: 25px;
	border: 1px solid #000;
}
.form{
	padding: 5%;
	color: #fff;
	width: auto;
	border-radius: 25px;
	background-color: transparent;
	margin: auto;
	text-align: center;
}
h1 {
	font-size: 40px;
	color: #D04429;
	font-weight: 900;
	margin-bottom: 35px;
}

input {
	font-weight: 700;
	width: 80%;
	height: 25px;
	border-color: transparent;
	border-bottom: 2px solid #3F3F3F;
	margin-bottom: 35px;	
	background-color: rgba(0, 0, 0, 0.5);
	color: #D04429;
	outline: none;
	transition: 1s;
}

input:focus {
	margin-bottom: 35px;
	border-color: transparent;
	outline: none;
	box-shadow: 0px 5px 3px 0px #D04429;
}

button {
	width: 50%;
	height: 35px;
	margin: auto;
	border-radius: 25px;
	margin-top: 15px;
	margin-bottom: 30px;
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 1.5s;
	color: #D04429;
	cursor: pointer;
	outline: none;	
}

button:hover {
	box-shadow: 2px 2px 20px #D04429;
	background-color: rgba(0, 0, 0, 0.5);
}

.exit {
	width: 50%;
	height: 35px;
	margin: auto;
	border-radius: 25px;
	margin-top: 15px;
	margin-bottom: 30px;
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 1.5s;
	color: #D04429;
	cursor: pointer;
	outline: none;	
}

.exit:hover{
	box-shadow: 2px 2px 20px #D04429;
	background-color: rgba(0, 0, 0, 0.5);
}

a {
	font-size: 15px;
	text-decoration: none;
	color: #D04429;
	transition: 1s;
}

a:hover {
	font-size: 17px;
	text-decoration: none;
	color: #F23713;
}

.icon {
	width: 25%;
	height: auto;
	background-color: transparent; 
	text-align: center;	
	margin-top: 10%;
}

i { 
	padding: 25px;
	color: #D04429;
	font-size: 125px;
}

.information {
	text-align: left;
	background-color: transparent;
	color: #D04429;
	width: 75%;
	margin-top: -35%;
	height: auto;
	margin-bottom: 10%;
	margin-left: auto;
}

h2 {
	padding: 15px;
}

@media (max-width: 800px){

	.container {
		margin: auto;
		margin-top: 5%;
		width: 70%;
		height: auto;
		background-color: rgba(0, 0, 0, 0.8);
		box-shadow: 2px 2px 50px #D04429;
		border-radius: 25px;
		border: 1px solid #000;
	}

	h1 {
		font-size: 25px;
		color: #D04429;
		font-weight: 900;
		margin-bottom: 35px;
	}

	input {
		font-weight: 700;
		width: 70%;
		height: 25px;
		border-color: transparent;
		border-bottom: 2px solid #3F3F3F;
		margin-bottom: 35px;	
		background-color: rgba(0, 0, 0, 0.5);
		color: #D04429;
		outline: none;
		transition: 1s;
	}

	.container2 {
		margin: auto;
		margin-top: 5%;
		width: 90%;
		height: auto;
		background-color: rgba(0, 0, 0, 0.8);
		box-shadow: 2px 2px 50px #D04429;
		border-radius: 25px;
		border: 1px solid #000;
	}

	.icon {
		width: 85%;
		margin: auto;
		height: auto;
		background-color: transparent; 
		text-align: center;	
		margin-top: 10%;
	}

	i { 
		padding: 25px;
		color: #D04429;
		font-size: 150px;
	}

	.exit {
		width: 50%;
		height: 35px;
		margin: auto;
		border-radius: 25px;
		margin-top: 10px;
		margin-bottom: 30px;
		border-color: transparent;
		background-color: rgba(0, 0, 0, 0.5);
		transition: 1.5s;
		color: #D04429;
		cursor: pointer;
		outline: none;	
	}
	.information {
		text-align: justify;
		background-color: transparent;
		color: #D04429;
		width: 90%;
		margin-top: -10%;
		height: auto;
		margin-bottom: 20%;
		margin: auto;
	}

	h2 {
		font-size: 22px;
		padding: 5px;
	}
}